<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <p><a href="<%= import_orders_path %>">Import Orders</a></p>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:number) %></th>
        <th><%= model_class.human_attribute_name(:email) %></th>
        <th>Customer</th>
        <th><%= model_class.human_attribute_name(:order_date) %></th>
        <th><%= model_class.human_attribute_name(:total) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.number, order_path(order) %></td>
          <td><%= order.email %></td>
          <td><%= order.customer_name %></td>
          <td><%= order.order_date %></td>
          <td><%= order.total %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_order_path(order), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        order_path(order),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>
