<%= form_for(@variant) do |f| %>
  <% if @variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
      <% @variant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :shopify_variant_id %><br>
    <%= f.number_field :shopify_variant_id %>
  </div>
  <div class="field">
    <%= f.label :option1 %><br>
    <%= f.text_field :option1 %>
  </div>
  <div class="field">
    <%= f.label :option2 %><br>
    <%= f.text_field :option2 %>
  </div>
  <div class="field">
    <%= f.label :option3 %><br>
    <%= f.text_field :option3 %>
  </div>
  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :barcode %><br>
    <%= f.text_field :barcode %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :last_shopify_sync %><br>
    <%= f.datetime_select :last_shopify_sync %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
